@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #0f172a;
  --text-primary: #f8fafc;
}

body {
  color: var(--text-primary);
  background: var(--background-primary);
  font-family: 'Pretendard', sans-serif;
}
